// 既定の設定を上書きするには、このファイル内に設定を挿入します
{
    "editor.fontFamily": "MyricaM M",
    "editor.fontSize": 20,
    "editor.tabSize": 4,
    "editor.insertSpaces": false,
    "workbench.editor.showTabs": true,
    "editor.renderWhitespace": "boundary",
    "files.eol": "\n",
    "files.insertFinalNewline": true
}
